.main {
    background-color: $jelly-bean;
    color: $white;
    font-family: $raleway;
    width: 100vw;
    height: 500px;
    text-align: center;
   
    h2 {
        font-weight: $extra-light;
        font-size: $x-large;
        margin: 0;
        padding-top: 170px;
    }
    h1 {
        font-weight: $bold;
        font-size: $x-large;
        margin: 0;
    }
}




